nav {
    background-color:rgba(0,0,0,0.3);
    width:max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index:2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom:2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(10px);

}

nav a {
    background:transparent;
    padding:0.9rem;
    display: flex;
    color:var(--color-light);
    font-size: 1.1rem;
    border-radius:50%;
   

}

nav a:hover {
    background: rgba(0,0,0,0.3);
   
}

nav a.active {
    background:var(--color-primary);
    color: var(--color-bg);
}

/*====================MEDIA QUERIES (MEDIUM DEVICE)========*/
@media screen and (max-width:1024px) {
    
    nav a {
        background: transparent;
        padding: 0.7rem;
        display: flex;
        color: var(--color-light);
        font-size: 1.1rem;
        border-radius: 50%;
    }
    header {
        /* height: 80vh; */
        padding-top: 8rem;
        overflow: hidden;
        height: 800px;
    }
    }

/*====================MEDIA QUERIES (SMALL DEVICE)========*/
 @media screen and (max-width:600px) {
    nav {
        background-color: rgba(0,0,0,0.3);
        width: max-content;
        display: block;
        padding: 0.7rem 0.7rem;
        z-index: 2;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 2rem;
        display: flex;
        gap: 0.8rem;
        border-radius: 3rem;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
   
       
   
      

 }